*.dta
Birth2005.csv
Birth2006.csv
Birth2007.csv
Birth2008.csv
Birth2009.csv
Birth2010.csv
Birth2011.csv
Birth2012.csv
Birth2005-2012.zip
Data Dictionary for IRB 17-019.*
County Code.csv
FilePathGlobal.do

